/* Fonts
---------------------------------------- */
$title-font-family: 'Bree Serif', sans-serif;
$text-font-family: 'PT Serif', serif;
$code-font-family: 'Source Code Pro', Consolas, Monaco, monospace;

/* Colors
---------------------------------------- */
$background-color: #FFFFFF;
$sidebar-background-color: #444444;

$link-color: #008ACE;
$link-hover-color: #00ABFF;
