<nav class="nav-menu">
	<ul>
		<li>
			<a href="{{@blog.url}}">
				<i class="fa fa-home"></i> Home
			</a>
		</li>
		<li>
			<a href="{{@blog.url}}/about-me">
				<i class="fa fa-user"></i> About
			</a>
		</li>
		<li>
			<a href="{{@blog.url}}/portfolio">
				<i class="fa fa-suitcase"></i> Portfolio
			</a>
		</li>
		<li>
			<a href="http://linkedin.com/in/wilsonyu2" target="_blank">
			  <i class="fa fa-linkedin-square"></i>LinkedIn
			</a>
		</li>
		<li>
			<a href="http://github.com/somethiiing" target="_blank">
			  <i class="fa fa-github"></i>Github
			</a>
		</li>
		<li>
			<a href="mailto:wilsonweichengyu@gmail.com" target="_blank">
			  <i class="fa fa-envelope-o"></i>Mail
			</a>
		</li>
	</ul>
</nav>