<section class="social-links">
	{{! RSS Feed }}
	<a class="icon icon-feed" href="{{@blog.url}}/rss" target="_blank">
		<i class="fa fa-rss"></i>
	</a>

	{{! Twitter }}
	<a class="icon icon-twitter" href="http://twitter.com/" target="_blank">
		<i class="fa fa-twitter"></i>
	</a>

	{{! Facebook }}
	<a class="icon icon-facebook" href="http://facebook.com/" target="_blank">
		<i class="fa fa-facebook"></i>
	</a>

	{{! Google Plus }}
	<a class="icon icon-google-plus" href="http://plus.google.com/" target="_blank">
		<i class="fa fa-google-plus"></i>
	</a>
</section>