{{!< default}}

{{> navigation}}

<main id="container" role="main">
    {{> sidebar}}	

    <section class="posts" data-filled="true">
        {{#post}}
        <article class="{{post_class}} post-full">
            <header class="post-header">
                <h2>{{{title}}}</h2>         
    <p> fahslkfjaskfjasdklfjalksdjaldsjflasdkjfjasdlkfjalskjfldkasjflkjaworkowokwrokwowrokwokrwokrwokr </p>
            </header>
            
            <section class="post-content">
                {{content}}
            </section>
        </article>        
        {{/post}}
    </section>
</main>